section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.blue {
  background: #08c7e0;
}
.grey {
  background: #c4c8c9;
}

.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}
.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #08c7e0;
  transform: translate(85%, 60%);
}
.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #c4c8c9;
  transform: translate(4%, 40%);
z-index: -1;
}

.spacer{
    /* aspect-ratio: 960/300; */
    width: 100%;
    padding-bottom: 31.25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image:url('./assets/images/layered-waves-haikei.svg') ;
}